* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-image: linear-gradient(
    to right,
    rgb(44, 59, 144),
    rgb(230, 230, 222)
  );
}

.img {
  margin-top: 150px;
}
